:root {
  /**
   * Site-specific brand colors
   *
   * Set these variables and the entire CD Header/Footer plus all Components in
   * the design system will re-color themselves to your brand.
   */
  --brand-primary: #753302;
  --brand-primary-light: #915727;
  --brand-primary-dark: #642302;
  --brand-highlight: #765cc1;
  --brand-grey: #f1ece6;
}
