:root {
  /**
   * Site-specific brand colors
   *
   * Set these variables and the entire CD Header/Footer plus all Components in
   * the design system will re-color themselves to your brand.
   */
  --brand-primary: #462472;
  --brand-primary--light: #6937AC;
  --brand-primary--dark: #33234A;
  --brand-highlight: #7FB92F;
  --brand-grey: #F1ECF9;
  --brand-logo-width: 186px;
}
