/* stylelint-disable selector-id-pattern, selector-class-pattern */
/**
 * Override Google custom search engine
 *
 * All selectors are exact duplicates of the Google-provided selectors so that
 * we can override them.
 */

.gsc-adBlock {
  display: none !important;
}

/* Hides the 'All' tab as we're only using refinements. */
.gsc-refinementBlock > div:first-child {
  display: none;
}

.gcsc-more-maybe-branding-root {
  display: none !important;
}

.gsc-control-cse {
  padding: 0 !important;
  border: none !important;
}

form.gsc-search-box {
  margin-bottom: 0 !important;
}

@media screen and (min-width: 1200px) {
  form.gsc-search-box {
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

.gsib_a {
  padding: 9px !important;
}

/* mobile+en.css */
.gsc-input-box {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.gsc-input {
  padding-right: 0 !important;
}

/* override CD Table default margin */
.gsc-input table {
  margin-bottom: 0;
}

.gsc-search-button {
  margin-left: 0 !important;
}

.gsc-search-button-v2 {
  height: 44px !important;
  padding-right: 16px !important;
  padding-left: 16px !important;
}

.gsc-above-wrapper-area,
.gsc-wrapper {
  max-width: 1140px;
  margin: 0 auto;
}
