@media (max-width: 1023px) {
  .js .cd-language-switcher__dropdown {
    z-index: 201;
    position: absolute;
    right: 0;
    left: auto;
    display: block;
    min-width: 125px;
    padding: 12px;
    color: var(--cd-white);
    background-color: var(--brand-primary);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
  }

  .js .cd-language-switcher__dropdown a::before {
    content: none;
  }

  /* No horizontal separation when Language Switcher displays in a dropdown. */
  .js .cd-global-header__language-switcher+.cd-global-header__user-menu {
    margin-inline-start: 0;
  }

  .js[dir="rtl"] .cd-language-switcher__dropdown {
    right: auto;
    left: 0;
  }
}

@media (min-width: 576px) {
  .cd-language-switcher {
    --dropdown: true;
  }

  .cd-language-switcher.cd-dropdown {
    display: none;
  }
}

@media (min-width: 768px) {
  .cd-language-switcher {
    --dropdown: true;
  }

  .cd-language-switcher.cd-dropdown {
    display: none;
  }
}
