@media (min-width: 768px) {

  /* Language Switcher list. */
  .cd-language-switcher__dropdown {
    display: flex;
    flex-wrap: wrap;
    /* Unset the dropdown styles */
    position: relative;
    left: unset;
    right: unset;
    padding: 0;
    background: transparent;
    box-shadow: none;
  }

  /* Pipe separator. */
  .cd-language-switcher__dropdown li a::before {
    position: absolute;
    top: 50%;
    left: -1px;
    width: 1px;
    height: calc(var(--cd-global-header-height) / 3);
    content: "";
    transform: translateY(-50%);
    background: var(--brand-grey);
  }

  [dir="rtl"] .cd-language-switcher__dropdown li a::before {
    right: -1px;
    left: auto;
  }

  /* No pipe on first child. */
  .cd-language-switcher__dropdown li:first-child a::before {
    background: transparent;
  }
}

@media (min-width: 768px) {
  .cd-language-switcher {
    --dropdown: false;
  }

  .cd-language-switcher.cd-dropdown {
    display: block;
  }
}
