<div class="cds-color-picker">
  <h3 class="cd-title">CD Color Picker</h3>
  <div class="cds-color-picker__intro">
    <p>Choose one of the options to instantly re-color the CD Header/Footer. In time, all of the components on this page will react to the colors chosen here.</p>
  </div>
  <div class="cds-color-picker__palettes">
    <div class="cdscp-palette cdscp-palette--purple"
      data-brand-primary="#6937AC"
      data-brand-primary-light="#B99DE0"
      data-brand-primary-dark="#462472"
      data-brand-highlight="#7FB92F"
      data-brand-grey="#F1ECF9">
      <button class="cd-button">Purple</button>
    </div>
    <div class="cdscp-palette cdscp-palette--turquoise"
      data-brand-primary="#34CCC1"
      data-brand-primary-light="#AEEAE6"
      data-brand-primary-dark="#248F88"
      data-brand-highlight="#DB7B18"
      data-brand-grey="#EBFAF9">
      <button class="cd-button">Turquoise</button>
    </div>
    <div class="cdscp-palette cdscp-palette--green"
      data-brand-primary="#7FB92F"
      data-brand-primary-light="#C6E69B"
      data-brand-primary-dark="#557C1F"
      data-brand-highlight="#6937AC"
      data-brand-grey="#F4FAEB">
      <button class="cd-button">Green</button>
    </div>
    <div class="cdscp-palette cdscp-palette--orange"
      data-brand-primary="#DB7B18"
      data-brand-primary-light="#F4C799"
      data-brand-primary-dark="#965410"
      data-brand-highlight="#1F69B3"
      data-brand-grey="#FCF2E8">
      <button class="cd-button">Orange</button>
    </div>
  </div>
</div>
