/**
 * Common Design Site color picker
 */
.cds-color-picker {
  position: fixed;
  top: 8rem;
  left: 2rem;
  z-index: 10;
  width: 420px;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 4px;
  box-shadow: 2px 2px 5px #0005;
  background: #fffe;
  backdrop-filter: blur(5px);
}

.cds-color-picker .cd-title {
  margin: 0;
}

.cds-color-picker__palettes {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}
